.section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.article{
    border: 1px outset cyan;
    padding: 5px;
}