.section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.article{
    // border: 1px outset var(--DarkGrayishBlue);
    padding: 5px;
    box-shadow: 3px 3px 3px 1px var(--DarkGrayishBlue);

    h2{
        font-weight: 600;
        font-size: 1.4rem;
        padding: 7px 0;
        color: var(--VeryDarkBlue);
    }

    p{
        font-size: 16px;
        color: var(--DarkGrayishBlue);
        height: 100px;
        overflow: hidden;
    }
}