.section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.article{
    border: 1px outset var(--DarkGrayishBlue);
    padding: 5px;

    h2{
        font-weight: 600;
        font-size: 1.4rem;
        padding: 7px 0;
    }

    p{
        font-size: 18px;
    }
}