.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    column-gap: 3px;
}

.article{
    width: 100%;
    object-fit: cover;
    position: relative;
    // margin: 0 10px;

    h2{
        position: absolute;
        top: 5px;
        left: 5px;
        font-weight: 400;
        font-size: 1rem;
        color: var(--SoftOrange);
    }

    img{
        width: 100%;
        object-fit: cover;
       
    }


}

.form{
    width: 400px;
    position: relative;

    input[type="text"]{
       width: 100%;
       outline: none;
       padding: 10px 5px;
       font-size: 1.1rem;
       border: 1px solid var(--SoftOrange);
       border-radius: 8px;

    }
       input[type="submit"]{
        text-transform: uppercase;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--DarkGrayishBlue);
        border: 0;
        outline: 0;
        padding: 5px 20px;
        color: var(--OffWhite);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;

        &:active, &:focus, &:hover{
            background-color: var(--VeryDarkBlue);
        }
       }
}