.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: center;
    column-gap: 3px;
}

.article{
    width: 100%;
    object-fit: cover;
    position: relative;
    // margin: 0 10px;

    h2{
        position: absolute;
        top: 5px;
        left: 5px;
        font-weight: 400;
        font-size: 1rem;
        color: var(--SoftOrange);
    }

    img{
        width: 100%;
        object-fit: cover;
       
    }


}

.form{
    width: 400px;
    position: relative;

    input[type="text"]{
       width: 100%;
       outline: none;
       padding: 10px 2px;
       font-size: 1.1rem;
       border: 1px solid var(--SoftOrange);
    }
}