.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.article{
    width: 100%;
    object-fit: cover;
}