.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.article{
    width: 100%;
}