.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: space-between;
    align-items: center;
    column-gap: 33px;
}

.article{
    width: 100%;
    object-fit: cover;
}