.showcase{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;


    @media(max-width:1160px){
        flex-direction: column;
    }
}

.main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

  
}

.showcaseImage{
    width: 100%;

    img{
        width: 100%;
    }
}

.article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    h1{
        font-size: 3rem;
        font-weight: 700;
        width: 100%;
    }

    div{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        p{
            font-size: 20px;
        }
        
    }

       @media(max-width:767px){
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 40px;

        h1{
            font-size: 3rem;
        }
    }
}

.aside{
    width: 50%;
    background-color: var(--VeryDarkBlue);
    padding: 10px 25px;
    color: var(--OffWhite);

    h3{
        color: var(--SoftOrange);
        padding: 20px 0;
        letter-spacing: 5px;
        font-size: 25px;
    }

    div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        position: relative;

        article{
            margin-bottom: 40px;
            position: relative;

            &::after{
                content: "";
                width: 100%;
                height:.4px;
                margin-top: 2px;
                background-color: var(--OffWhite);
                position: absolute;
                bottom: -20px;
                opacity: .4;
            }

            &:last-child::after{
                display:none;
            }

            h2{
                font-size: 20px;
                padding: 10px 0;
                font-weight: 400;
                &:hover{
                    color: var(--SoftOrange);
                    cursor: pointer;
                }
            }

            p{
                font-size: 18px;
            
            }
        }

      
    }


    @media(max-width:1160px){
        width: 100%;
        div{
            flex-direction: row;
            gap:0;
            column-gap: 30px;

            article{
                  &::after{
                display: none;
            }
                h2{
                    color:var(--SoftOrange);
                }
            }
        }
    }

    @media(max-width:767px){
        width: 100%;
        div{
            flex-direction: column;
            gap:0;
            column-gap: 30px;

            article{
                  &::after{
               display: block;
            }
                h2{

                    color:var(--SoftOrange);
                    // white-space: nowrap;
                }
            }
        }
    }


}

