.article{
    border: 1px solid var(--SoftOrange);
    border-radius: 4px;
    padding: 10px 20px;

    &:hover{
        transform: scale(.99);
    }
    div{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        img{
            width: 100px;
            
        }
        h4{
            font-weight: 600;
            color: var(--VeryDarkBlue);
            font-size: 1.2rem;
        }
        
    }
    p{
        font-size: 18px;
        padding-top: 10px;
    }

    
}

.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}