.article{
    border: 1px solid var(--SoftOrange);
    border-radius: 4px;
    div{
        width: 100%;
        img{
            width: 100%;
        }
        span{
            font-size: 1.1rem;
            color: var(--SoftRed);
            // position: absolute;
            // top: 30px;
            // left: 2px;
       }
    }

    div{
        padding: 10px 20px;
        text-align: center;
        p{
            padding: 10px 0;
            font-size: 1.2rem;
        }
    }
}

.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}