.article{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
    gap:20px;
    div{
        width: 100%;
        img{
            width:100%;
            // height: 400px;
        }
    }

    div{
        width: 100%;
        h3{
            font-size: 2rem;
            color: var(--SoftRed);


        }

        p{
            color: var(--VeryDarkBlue);
            font-size: 1.2rem;
            line-height: 1.5em;
            padding-top: 10px;
        }
    }

    @media(max-width:767px){
        flex-direction: column;
    }
}